/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body */
/* 
   The body element is the root node at (0,0) and covers 100% visible height and width.
   All subsequent elements' x,y (top, left) coordinates and width/height are derived relative
   to their respective parent nodes.
*/

body {
    width: 100%; /* https://developer.mozilla.org/en-US/docs/Web/CSS/width */
    box-sizing: border-box;  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_box_model/Introduction_to_the_CSS_box_model#border_area */
    height: 100%;
}